@model Garage2Grupp5.ViewModels.ParkedVehicleViewModel
@*@model Garage2Grupp5.Models.ParkedVehicle
*@@*@model Garage2Grupp5.Models.VehicleType
*@
@inject IVehicleTypeSelectListService Service

@{
    ViewData["Title"] = "Park a vehicle";
}

<h1>Park a vehicle</h1>

<h4>ParkedVehicle</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="LicensePlate" class="control-label"></label>
                <input asp-for="LicensePlate" class="form-control" />
                <span asp-validation-for="LicensePlate" class="text-danger"></span>
            </div>

            <div class="input-group-append">
                <label asp-for="MemberId" class="control-label"></label>
                <select class="form-control" asp-for="MemberId" asp-items="@await Service.GetVehicleTypesAsync()">
                    <option selected="selected" value="">Please select member Id</option>
                </select>
            </div>

            <div class="input-group-append">
                <label asp-for="VehicleType" class="control-label"></label>
                <select class="form-control" asp-for="VehicleType" asp-items="@await Service.GetVehicleTypesAsync()">
                    <option selected="selected" value="">Please select vehicle type</option>
                </select>
            </div>

            <div class="form-group">

                @*<label asp-for="VehicleType" class="control-label"></label>*@
@*                <label asp-for="Type.Name" class="control-label"></label>
*@
                @*<input asp-for="VehicleType" class="form-control" />*@
@*                <input asp-for="Type.Name" class="form-control" />
*@
@*                <select asp-for="Type" asp-items="@Html.GetEnumSelectList<VehicleType>()" class="form-control"></select>
                <span asp-validation-for="Type.ToString()" class="text-danger"></span>*@
                @*<span asp-validation-for="VehicleType" class="text-danger"></span>*@

@*                  <span asp-validation-for="Type.Name" class="text-danger"></span>
*@
            </div>
            <div class="form-group">
                <label asp-for="NrOfWheels" class="control-label"></label>
                <input asp-for="NrOfWheels" class="form-control" />
                <span asp-validation-for="NrOfWheels" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Color" class="control-label"></label>
                <input asp-for="Color" class="form-control" />
                <span asp-validation-for="Color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Brand" class="control-label"></label>
                <input asp-for="Brand" class="form-control" />
                <span asp-validation-for="Brand" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
