@model Garage2Grupp5.Models.ParkedVehicle

@{

    ViewData["Title"] = "LicensePlateAlreadyExistError";
}
<h1>License plate already exists, please choose different license plate to add
    a vehicle to the garage
</h1>
<p>
    <a asp-action="Create">Create New</a>
</p>