@model Garage2Grupp5.ViewModels.UnparkedVehicleViewModel

@{
    ViewData["Title"] = "Receipt or not?";
}

<h1>Do you want a receipt on your parking?</h1>
<a asp-action="Unpark">Receipt</a>
    <a asp-action="NoReceipt">No receipt</a>

